@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "dana";
    src: url(../../public/fonts/Dana\ family/Dana-Medium.ttf);
    src: url(../../public//fonts/woff/Dana-Regular.woff);
}