@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "dana";
    src: url(../../public/fonts/Dana\ family/Dana-Medium.ttf);
    src: url(../../public//fonts/woff/Dana-Regular.woff);
}

@font-face {
    font-family: "dana bold";
    src: url(../../public/fonts/Dana\ family/Dana-ExtraBold.ttf);
    src: url(../../public/fonts/woff/Dana-ExtraBold.woff);
}

@font-face {
    font-family: "morabba";
    src: url(../../public/fonts/Morabba/ttf/Morabba-Medium.ttf);
    src: url(../../public/fonts/Morabba/woff/Morabba-Medium.woff);
}

.custom-number-input {
    -moz-appearance: textfield;
    appearance: textfield;
}

.custom-number-input::-webkit-outer-spin-button,
.custom-number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}